<script type="x/template" id="vue-wish-list-count">
    <a href="/wish-list">
        {# <i class="fa" :class="{'fa-heart none': !wishListCount, 'fa-heart': wishListCount}" aria-hidden="true"></i> #}
        <span :class="{'none': !wishListCount, 'yes': wishListCount}" aria-hidden="true">
            <svg viewBox="0 0 44.266 40" width="44.266" height="40"><path fill="#333" d="M22.084 40a.633.633 0 0 1-.463-.168c-.716-.589-16.95-14.848-20.357-22.082a13.764 13.764 0 0 1-.5-10.263 10.719 10.719 0 0 1 5.463-6.225 13.2 13.2 0 0 1 5.552-1.22c4.29 0 8.244 2.061 10.095 5.258l.252.421.294-.463C24.229 2.061 28.183 0 32.473 0a13.059 13.059 0 0 1 5.552 1.22 10.719 10.719 0 0 1 5.468 6.225 13.565 13.565 0 0 1-.5 10.263c-3.412 7.192-19.395 21.24-20.32 22.082a.675.675 0 0 1-.463.21zM11.779 1.514a11.53 11.53 0 0 0-4.921 1.094 9.369 9.369 0 0 0-4.711 5.384 12.036 12.036 0 0 0 .458 9.127c2.986 6.267 16.7 18.717 19.516 21.2 2.65-2.355 16.572-14.932 19.558-21.241a12.23 12.23 0 0 0 .426-9.128 9.369 9.369 0 0 0-4.711-5.384 11.671 11.671 0 0 0-4.921-1.094c-3.743 0-7.192 1.767-8.791 4.5l-.883 1.472a.605.605 0 0 1-.084.126.742.742 0 0 1-.631.336.634.634 0 0 1-.589-.379l-.883-1.472c-1.599-2.774-5.048-4.541-8.833-4.541z"/></svg>
        </span>
        <span class="badge-right">Merkliste (${wishListCount})</span>
    </a>
</script>
